dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.bak

AbsLatte.hs
DocLatte.*
ErrM.*
LexLatte.x
LexLatte.hs
Makefile
ParLatte.y
ParLatte.hs
PrintLatte.hs
SkelLatte.hs
TestLatte.hs
TestLatte