dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

AbsLatte.hs
DocLatte.*
ErrM.*
LexLatte.x
Makefile
ParLatte.y
PrintLatte.hs
SkelLatte.hs
TestLatte.hs